@mixin cta-btn($hover-bg, $hover-font) {
    background-color: transparent;
    border: 2px solid $grey;
    padding: 15px 30px;
    color: $grey;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2em;
    letter-spacing: 2px;
    z-index: 3;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
        border-color: $hover-bg;
        background-color: $hover-bg;
        color: $hover-font;
    }
  }