/* COLORS */
$body-font: #8e8c8c;
$accent-color: #00c8c8;
$snow: #f8f8f8;
$heading: #575153;
$input-border: #e7e7e7;
$grey: #737373;
$dark-grey: #333333;
$bar-color: #929292;

/* FONTS */
$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;

/* FONT WEIGHTS */
$w-light: 300;
$w-regular: 400;
$w-medium: 500;
$w-bold: 700;

/* MISC */
$hero-height: 920px;

/* BREAKPOINTS */
$breakpoint-tablet: 768px;